[tool.poetry]
authors = ["Joel Collins <joel.collins@renalregistry.nhs.uk>"]
description = "Basic Python interface for Mirth Connect"
name = "mirth-client"
packages = [
  {include = "mirth_client"},
]
readme = "README.md"
version = "0.4.2"

[tool.poetry.dependencies]
Sphinx = {version = "^3.5.3", optional = true}
httpx = "^0.17.1"
pydantic = "^1.8.1"
python = "^3.7"
sphinx-rtd-theme = {version = "^0.5.1", optional = true}
xmltodict = "^0.12.0"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-rtd-theme"]

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = "^20.8b1"
isort = "^5.7.0"
mypy = "^0.812"
pylint = "^2.7.3"
tox = "^3.23.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.pylint.'BASIC']
good-names = "id,e,b"

[tool.pylint.'MASTER']
extension-pkg-whitelist = "pydantic" # PyLint struggles with Pydantic in GH Actions

[tool.pylint.'MESSAGES CONTROL']
# no-self-argument is disabled as it messes with Pydantic validator functions
# Let Black handle line-too-long
disable = "no-self-argument, too-few-public-methods, missing-module-docstring, line-too-long, too-many-arguments"
max-line-length = 88
