<list>
  <event>
    <dateTime>1643710417056</dateTime>
    <nanoTime>1898706290981700</nanoTime>
    <id>87</id>
    <eventTime>
      <time>1643710179259</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get channels</name>
    <attributes class="linked-hash-map"/>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417058</dateTime>
    <nanoTime>1898706293399600</nanoTime>
    <id>86</id>
    <eventTime>
      <time>1643710174496</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Deploy channels</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>debug</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>returnErrors</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417065</dateTime>
    <nanoTime>1898706299645900</nanoTime>
    <id>85</id>
    <eventTime>
      <time>1643710170119</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Update channel</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
      <entry>
        <string>override</string>
        <string>false
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417071</dateTime>
    <nanoTime>1898706306438100</nanoTime>
    <id>84</id>
    <eventTime>
      <time>1643710134419</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get channels</name>
    <attributes class="linked-hash-map"/>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417072</dateTime>
    <nanoTime>1898706307331500</nanoTime>
    <id>83</id>
    <eventTime>
      <time>1643710109310</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get messages by page limit</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>filter</string>
        <string>MessageFilter[maxMessageId=4,minMessageId=&lt;null&gt;,originalIdUpper=&lt;null&gt;,originalIdLower=&lt;null&gt;,importIdUpper=&lt;null&gt;,importIdLower=&lt;null&gt;,startDate=&lt;null&gt;,endDate=&lt;null&gt;,textSearch=&lt;null&gt;,textSearchRegex=&lt;null&gt;,statuses=&lt;null&gt;,includedMetaDataIds=&lt;null&gt;,excludedMetaDataIds=&lt;null&gt;,serverId=&lt;null&gt;,contentSearch=[],metaDataSearch=&lt;null&gt;,textSearchMetaDataColumns=&lt;null&gt;,sendAttemptsLower=&lt;null&gt;,sendAttemptsUpper=&lt;null&gt;,attachment=false,error=false]
</string>
      </entry>
      <entry>
        <string>includeContent</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>offset</string>
        <string>0
</string>
      </entry>
      <entry>
        <string>limit</string>
        <string>21
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417077</dateTime>
    <nanoTime>1898706311652300</nanoTime>
    <id>82</id>
    <eventTime>
      <time>1643710083694</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get message content</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>metaDataIds</string>
        <string>
        </string>
      </entry>
      <entry>
        <string>messageId</string>
        <string>1
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417077</dateTime>
    <nanoTime>1898706312398900</nanoTime>
    <id>81</id>
    <eventTime>
      <time>1643710082725</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get messages by page limit</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>filter</string>
        <string>MessageFilter[maxMessageId=1,minMessageId=&lt;null&gt;,originalIdUpper=&lt;null&gt;,originalIdLower=&lt;null&gt;,importIdUpper=&lt;null&gt;,importIdLower=&lt;null&gt;,startDate=&lt;null&gt;,endDate=&lt;null&gt;,textSearch=&lt;null&gt;,textSearchRegex=&lt;null&gt;,statuses=&lt;null&gt;,includedMetaDataIds=&lt;null&gt;,excludedMetaDataIds=&lt;null&gt;,serverId=&lt;null&gt;,contentSearch=[],metaDataSearch=&lt;null&gt;,textSearchMetaDataColumns=&lt;null&gt;,sendAttemptsLower=&lt;null&gt;,sendAttemptsUpper=&lt;null&gt;,attachment=false,error=false]
</string>
      </entry>
      <entry>
        <string>includeContent</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>offset</string>
        <string>0
</string>
      </entry>
      <entry>
        <string>limit</string>
        <string>21
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417078</dateTime>
    <nanoTime>1898706313172400</nanoTime>
    <id>80</id>
    <eventTime>
      <time>1643710070118</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get message content</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>metaDataIds</string>
        <string>
        </string>
      </entry>
      <entry>
        <string>messageId</string>
        <string>4
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417079</dateTime>
    <nanoTime>1898706313841500</nanoTime>
    <id>79</id>
    <eventTime>
      <time>1643710068553</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get messages by page limit</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>filter</string>
        <string>MessageFilter[maxMessageId=4,minMessageId=&lt;null&gt;,originalIdUpper=&lt;null&gt;,originalIdLower=&lt;null&gt;,importIdUpper=&lt;null&gt;,importIdLower=&lt;null&gt;,startDate=&lt;null&gt;,endDate=&lt;null&gt;,textSearch=&lt;null&gt;,textSearchRegex=&lt;null&gt;,statuses=&lt;null&gt;,includedMetaDataIds=&lt;null&gt;,excludedMetaDataIds=&lt;null&gt;,serverId=&lt;null&gt;,contentSearch=[],metaDataSearch=&lt;null&gt;,textSearchMetaDataColumns=&lt;null&gt;,sendAttemptsLower=&lt;null&gt;,sendAttemptsUpper=&lt;null&gt;,attachment=false,error=false]
</string>
      </entry>
      <entry>
        <string>includeContent</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>offset</string>
        <string>0
</string>
      </entry>
      <entry>
        <string>limit</string>
        <string>21
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417081</dateTime>
    <nanoTime>1898706316259900</nanoTime>
    <id>78</id>
    <eventTime>
      <time>1643710067441</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Process messages</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
      <entry>
        <string>rawMessage</string>
        <string>com.mirth.connect.donkey.model.message.RawMessage[overwrite=false, imported=false, originalMessageId=null, destinationMetaDataIds=null, binary=false, attachmentCount=0]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417082</dateTime>
    <nanoTime>1898706316911500</nanoTime>
    <id>77</id>
    <eventTime>
      <time>1643710052718</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get message content</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>metaDataIds</string>
        <string>
        </string>
      </entry>
      <entry>
        <string>messageId</string>
        <string>2
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417085</dateTime>
    <nanoTime>1898706319942700</nanoTime>
    <id>76</id>
    <eventTime>
      <time>1643710051725</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get messages by page limit</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>filter</string>
        <string>MessageFilter[maxMessageId=2,minMessageId=&lt;null&gt;,originalIdUpper=&lt;null&gt;,originalIdLower=&lt;null&gt;,importIdUpper=&lt;null&gt;,importIdLower=&lt;null&gt;,startDate=&lt;null&gt;,endDate=&lt;null&gt;,textSearch=&lt;null&gt;,textSearchRegex=&lt;null&gt;,statuses=&lt;null&gt;,includedMetaDataIds=&lt;null&gt;,excludedMetaDataIds=&lt;null&gt;,serverId=&lt;null&gt;,contentSearch=[],metaDataSearch=&lt;null&gt;,textSearchMetaDataColumns=&lt;null&gt;,sendAttemptsLower=&lt;null&gt;,sendAttemptsUpper=&lt;null&gt;,attachment=false,error=false]
</string>
      </entry>
      <entry>
        <string>includeContent</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>offset</string>
        <string>0
</string>
      </entry>
      <entry>
        <string>limit</string>
        <string>21
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417086</dateTime>
    <nanoTime>1898706320599200</nanoTime>
    <id>75</id>
    <eventTime>
      <time>1643710048784</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Deploy channels</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>debug</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>returnErrors</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417086</dateTime>
    <nanoTime>1898706321167600</nanoTime>
    <id>74</id>
    <eventTime>
      <time>1643710042721</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Update channel</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
      <entry>
        <string>override</string>
        <string>true
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417087</dateTime>
    <nanoTime>1898706321669900</nanoTime>
    <id>73</id>
    <eventTime>
      <time>1643710039783</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Update channel</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
      <entry>
        <string>override</string>
        <string>false
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417088</dateTime>
    <nanoTime>1898706323349500</nanoTime>
    <id>72</id>
    <eventTime>
      <time>1643710039349</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Update channel</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
      <entry>
        <string>override</string>
        <string>false
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417091</dateTime>
    <nanoTime>1898706325751900</nanoTime>
    <id>71</id>
    <eventTime>
      <time>1643710013840</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Deploy channels</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>debug</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>returnErrors</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417091</dateTime>
    <nanoTime>1898706326505100</nanoTime>
    <id>70</id>
    <eventTime>
      <time>1643710013602</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Update channel groups</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channelGroups</string>
        <string>com.mirth.connect.model.ChannelGroup[id=3a7cb209-7d44-4608-b11a-0bbd81d52028, name=Inbound Group, revision=1, lastModified=java.util.GregorianCalendar[time=1643648914624,areFieldsSet=true,areAllFieldsSet=true,lenient=true,zone=sun.util.calendar.ZoneInfo[id=&quot;Etc/UTC&quot;,offset=0,dstSavings=0,useDaylight=false,transitions=0,lastRule=null],firstDayOfWeek=1,minimalDaysInFirstWeek=1,ERA=1,YEAR=2022,MONTH=0,WEEK_OF_YEAR=6,WEEK_OF_MONTH=6,DAY_OF_MONTH=31,DAY_OF_YEAR=31,DAY_OF_WEEK=2,DAY_OF_WEEK_IN_MONTH=5,AM_PM=1,HOUR=5,HOUR_OF_DAY=17,MINUTE=8,SECOND=34,MILLISECOND=624,ZONE_OFFSET=0,DST_OFFSET=0], description=]
com.mirth.connect.model.ChannelGroup[id=5ee0592c-023a-486f-b422-a244feeb3d2d, name=Outbound Group, revision=1, lastModified=java.util.GregorianCalendar[time=1643648914619,areFieldsSet=true,areAllFieldsSet=true,lenient=true,zone=sun.util.calendar.ZoneInfo[id=&quot;Etc/UTC&quot;,offset=0,dstSavings=0,useDaylight=false,transitions=0,lastRule=null],firstDayOfWeek=1,minimalDaysInFirstWeek=1,ERA=1,YEAR=2022,MONTH=0,WEEK_OF_YEAR=6,WEEK_OF_MONTH=6,DAY_OF_MONTH=31,DAY_OF_YEAR=31,DAY_OF_WEEK=2,DAY_OF_WEEK_IN_MONTH=5,AM_PM=1,HOUR=5,HOUR_OF_DAY=17,MINUTE=8,SECOND=34,MILLISECOND=619,ZONE_OFFSET=0,DST_OFFSET=0], description=]
</string>
      </entry>
      <entry>
        <string>override</string>
        <string>false
</string>
      </entry>
      <entry>
        <string>removedChannelGroupIds</string>
        <string>
        </string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417092</dateTime>
    <nanoTime>1898706327087200</nanoTime>
    <id>69</id>
    <eventTime>
      <time>1643710001755</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Create channel</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>channel</string>
        <string>Channel[id=0288e3d8-e7f6-49de-91a3-53223c807893,name=Outbound Error Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
  <event>
    <dateTime>1643710417093</dateTime>
    <nanoTime>1898706328060900</nanoTime>
    <id>68</id>
    <eventTime>
      <time>1643709947425</time>
      <timezone>Etc/UTC</timezone>
    </eventTime>
    <level>INFORMATION</level>
    <name>Get message content</name>
    <attributes class="linked-hash-map">
      <entry>
        <string>metaDataIds</string>
        <string>
        </string>
      </entry>
      <entry>
        <string>messageId</string>
        <string>2
</string>
      </entry>
      <entry>
        <string>channel</string>
        <string>Channel[id=ad06a57c-aea3-476f-a00f-21d6423635e0,name=Inbound Channel]
</string>
      </entry>
    </attributes>
    <outcome>SUCCESS</outcome>
    <userId>1</userId>
    <ipAddress>172.23.0.1</ipAddress>
    <serverId>176fbc8a-2718-4d78-beee-7530ec068ee9</serverId>
  </event>
</list>